# Editors
*.vim
*.swp
.vscode
.idea
tags
.vs/
*.user
*.userosscache
*.sln.docstates

# Build & Build Tool Generators
*.cmake
build/
CMakeFiles/
CMakeCache.txt
out/
bin/
obj/
CMakePresets.json

# Compiled Objects & Libraries
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.pdb
*.ilk

# OS Specific System Files
.DS_Store
Thumbs.db